*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/*quita el color morado de los hipervinculos*/
a:link, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

span{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 4.4rem;
    font-weight: 600;
    padding-top: 12px;
    text-align: center;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 5.5rem;
    font-weight: 600;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem;
    font-weight: bold;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2.8rem;
}

.header{
    top: .1px;
    background-color: rgb(255, 255, 255);
}

footer{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(34, 34, 34);
    text-align: center;
    color: rgb(232, 228, 228);
}