/* ------------------------------ sección de menú principal ------------------------ */
.organizacion{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9rem;
    list-style: none;
    letter-spacing: 1px;
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    position: relative;
        
        a{
        display: inline-block;
        position: relative;
        }
}

.organizacion a::after{
    content: "";
    position: absolute;
    width: 99%;
    height: 7px;
    bottom: 0;
    left: 0;
    padding: 1.3rem;
    background-color: rgba(171, 171, 171, 0.098);
    border-radius: .3rem;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .2s ease-out;
}
.organizacion a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


.submenu{
    position: absolute;
    width: 100%;
    padding-right: 2%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-right: 2rem;
    top: 4.7rem;
    background-color: rgb(255, 255, 255);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;     
    
    a:hover{
        transform: scale(1.2, 1.2);
        transform-origin: bottom left;
    }
    a::after{
        background-color: transparent;
    }
}


.gafas-sol{
    color: rgb(162, 1, 1) !important;
}

.joyeria-articulo{
    color: rgb(162, 1, 1) !important;
}

.bolsa-mano{
    color: rgb(162, 1, 1) !important;
}

.navajas{
    color: rgb(162, 1, 1) !important;
}

.gorras{
    color: rgb(162, 1, 1) !important;
}