@import "./01mixin";

/* --------------------- hero section ---------------------- */
.hero__section2{
    @include hero(row-reverse, center);
    margin-top: 19rem; 
    
    .hero__rebaja{
        width: 52%;
    }

    .heroimagen__izquierda2{
        padding-left: 1rem;

        img{
            width: 100%;
            height: 70vh;
        }
    }
    
    .scale-up-center {
        -webkit-animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    
     @-webkit-keyframes scale-up-center {
        0% {
          -webkit-transform: scale(0.5);
                  transform: scale(0.5);
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
      }
      @keyframes scale-up-center {
        0% {
          -webkit-transform: scale(0.5);
                  transform: scale(0.5);
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
      }
}
/* --------  primer texto de rebajas -------- */


.titulo__derecha2{
    text-align: center;
    padding-left: 2rem
}

.texto__derecha2{
    @include textos(4rem, 2rem, 3rem, 2rem);
    margin-left: 4rem;
}

.boton__derecha2{
    @include boton(8rem, 48%, 1.4rem);

    a:hover{
    color: $gris-fondo;
    }   
}

/* -------- sección de hombre -------- */
.hero__dos2{
    @include hero(row, space-around);
}

.titulo__izquierda2{
    text-align: center;
    width: 60%;
}

.heroimagen__derecha2 img{
    width: 100%;
    height: 75vh;
}

.sec__imagenes{
    padding: 7rem;
    display: flex;
    flex-direction: row;
    height: 87vh;
    
    .sec__izq{
        width: 100%;
        img{
        width: 90%;
        height: 100%;
        }
    }
    .sec__der{
        width: 90%;
        padding-left: 8rem;
        img{
        width: 100%;
        height: 100%;
        }
    }
    
}