/* ------------ sección de recuadros de información ------------- */
.info{
    background-color: darkslatebue;
    margin-top: 7rem;
    margin-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 6%;
    :hover{
        background-color: rgba(198, 198, 198, 0.249);
    }
}

.pedido{
    border-style: ridge;
    border-color: $gris-fondo;
    width: 50rem;
    height: 12rem;
    :hover{
        background-color: transparent;
    }

    &__texto{
        position: relative;
        top: 2rem;
        left: 1.2rem;
    }
    
    &__icono{
        position: relative;
        top: .8rem;
        left: 1rem;
    }
}

.contacto{
    border-style: ridge;
    border-color: $gris-fondo;
    width: 50rem;
    height: 12rem;
    :hover{
        background-color: transparent;
    }
    
    &__texto{
        position: relative;
        top: 2rem;
        left: 1.2rem;
    }
    
    &__icono{
        position: relative;
        top: .8rem;
        left: 1rem;
    }
}

