/* ------------------------------ Página envíos ----------------------------------------- */

#envios__h4{
    margin-top: 8rem;
    margin-bottom: 4rem;
    padding-left: 3%;
}


/* ------------------------------- Página contacto -------------------------------------- */

.contacto__ayuda{
    margin-top: 8rem;
    padding-left: 3%;
}

.contacto__info{
    margin-top: 5rem;
    padding: 1rem;
}

.gap__container{
    gap: 5rem;
}

.bgc__container{
    background-color: rgba(238, 238, 238, 0.324);
}

#contacto__form{
    margin-top: 6rem;
    padding-left: 3%;
    padding-right: 3%;
}

.table{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.txt__label{
    font-size: 1.4rem;
}