/*  -------------------------------  Media Queries 1024 -----------------------------------  */

@media screen and (max-width:1024px) {
    .hero__section{
    padding-left: 2rem;
    gap: 2rem;
}
    .titulo__derecha{
    
    font-size: 4.7rem;
    padding-right: 1rem;
}
    .texto__derecha{
    padding-right: 0rem;
    font-size: 2rem;
    padding-left: 2rem;
}
    .boton__derecha{
    height: 3rem;
}
    .heroimagen__izquierda img{
    width: 430px;
    height: 440px;
    padding-left: 0;
    margin-top: 3rem;
}

    .bolsa__relative{
        padding-left: 1rem;
    }
    .imagen__joyeria__acomodo{
        padding-left: 5rem;
    }
            
/*  ----- hero-dos, seccion hombre index ----- */
    .hero__dos{
    padding-top: 1rem;
    padding-right: 5rem;
    padding-left: 5rem;
}
    .titulo__izquierda{
    width: 48rem;
    padding-right: 3rem;
    padding-left: 1rem;
    font-size: 4.2rem;
}
    .texto__izquierda{
    padding-left: 1rem;
    padding-right: 6rem;
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.8rem;
}
    .boton__izquierda{
    margin-left: 38%;
}
    .heroimagen__derecha img{
    width: 410px;
    height: 440px;
    margin-left: 1rem;
    margin-top: 3rem;
}
            
/*  --------- seccion mujer index --------- */
    .mujer{
    padding: 2rem;
}
    .mujer h2{
    margin-right: 3rem;
    margin-left: 2.5rem;
}
    .mujer p{
    padding-left: 4rem;
    padding-right: 3rem;
}
        
/* --------- seccion info ------- */
    .info{
    padding-left: 1rem;
    gap: 2rem;
}
    .pedido{
    width: 70%;
    height: 11rem;
}
    .pedido__texto{
    left: 1rem;
}
    .info p{
    font-size: 1.4rem;
}
    .contacto{
    width: 70%;
    height: 11rem;
}
    .contacto__texto{
    left: 1rem;
}
/* ------------- parte final de index ----------------- */
    .final p{
    font-size: 1.7rem;
}
    footer{
    padding-left: 7rem;}
}





/*  -------------------------------  Media Queries 768 -----------------------------------  */

@media screen and (max-width:768px) {
    .organizacion{
    font-size: 1.9rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

    .hero__section{
    margin-top: 19rem;
    padding-top: 1rem;
    gap: 2rem;
}
    .titulo__derecha{
    width: 35rem;
    font-size: 3.7rem;
    padding-right: 1rem;
}
    .texto__derecha{
    padding-right: 0rem;
    font-size: 1.7rem;
    padding-left: 2rem;
    margin-left: 2rem;
}
    .boton__derecha{
    width: 6rem;
    height: 3rem;
    margin-left: 48%;
    font-size: 1.2rem;
}
    .heroimagen__izquierda img{
    width: 330px;
    height: 340px;
    padding-left: 3rem;
    margin-top: 3rem;
}
        
/*  ----- hero-dos, seccion hombre index ----- */
    .hero__dos{
    padding-bottom: 4rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 5rem;
}
    .titulo__izquierda{
    width: 40rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 3.7rem;
}
    .texto__izquierda{
    padding-right: 3rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.8rem;
}
    .boton__izquierda{
    font-size: 1.1rem;
    width: 7rem;
    height: 2.7rem;
    margin-left: 40%;
    border-width: 1px;
}
    .heroimagen__derecha img{
    width: 300px;
    height: 350px;
    margin-left: 1rem;
    margin-top: 3rem;
}
        
/*  --------- seccion mujer index --------- */
    .mujer{
    padding: 1rem;
}
    .mujer h2{
    padding-left: 3rem;
    margin-left: 4.5rem;
}
    .mujer p{
    padding-left: 20;
    padding-right: 30;
}
    .mujer .heroimagen__izquierda{
    padding-left: .1rem;
}
        
/* --------- seccion info ------- */
    .info{
    flex-direction: column;
    padding-left: 1rem;
    margin-top: 4rem;
    gap: 3rem;
}
    .pedido{
    width: 90%;
    height: 11.3rem;
}
    .pedido__texto{
    left: 1rem;
}
    .info p{
    font-size: 1.4rem;
}
    .contacto{
    width: 90%;
    height: 11rem;
}
    .contacto__texto{
    left: 1rem;
}
/* ------------- parte final de index ----------------- */
    .final{
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    margin-top: 4rem;
    gap: 4rem;
}
    .final p{
    font-size: 1.7rem;
}
    .final span{
    font-size: 1.2rem;
}
    .iconos{
    width: 4.4rem;
    margin-top: 2rem;
}
    #mapa__tienda{
    margin-top: 1.5rem;
    width: 20rem;
    height: 13rem;
}
    footer{
    font-size: 1.6rem;
    padding-top: 2rem;}
}




/*  -------------------------------  Media Queries 425 ------------------------------------ */

@media screen and (max-width:425px) {
    .organizacion{
    font-size: 1.6rem;
    padding-top: 1.5rem;
}
    .submenu{
        padding-top: 1rem;
        padding-right: 5rem;
        padding-left: 1.8rem;
        gap: 2rem;
    }
    .hero__section{
    flex-direction: column;
    padding-bottom: 3rem;
    margin-top: 18rem;
    padding-top: 1rem;
    padding-right: 2rem;

    .heroimagen__izquierda {
        padding-left: 1rem;
        margin-right: 1rem;
    }
    
        .heroimagen__izquierda img{
        width: 390px;
        height: 350px;
        padding-left: 1rem;    
        margin-top: 3rem;
    }
}
    .titulo__derecha{
    width: 42rem;
    font-size: 3.3rem;
    padding-right: 3rem;
}
    .texto__derecha{
    padding-right: 1rem;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    margin-left: 1rem;
}
    .boton__derecha{
    width: 6rem;
    height: 3rem;
    margin-left: 45%;
    border-width: 1px;
    font-size: 1.2rem;
}

    
/*  ----- hero-dos, seccion hombre index ----- */
    .hero__dos{
    flex-direction: column;
    padding-bottom: 4rem;
    padding-top: 1rem;
    padding-right: 3rem;
}
    .titulo__izquierda{
    width: 42rem;
    padding-right: 0;
    font-size: 3.1rem;
}
    .texto__izquierda{
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.8rem;
}
    .boton__izquierda{
    font-size: 1.1rem;
    width: 7rem;
    height: 2.7rem;
    margin-left: 45%;
}
    .heroimagen__derecha img{
    width: 380px;
    height: 350px;
    margin-top: 3rem;
}
    .bolsa__relative{
       padding-left: 0; 
    }
    .imagen__lentes__acomodo{
        margin-left: 1.3rem;
    }
    .imagen__joyeria__acomodo{
        margin-right: 1.4rem;
    }
    
/*  --------- seccion mujer index --------- */
    .mujer{
    padding: 1rem;
    flex-direction: column;
}
    .mujer h2{
    width: 39rem;
    padding-right: 2rem;
    margin-right: 0;
    margin-left: 1rem;
   
}
    .mujer p{
    padding-left: 20;
    padding-right: 30;
}
    .mujer img{
    padding-left: 0rem;
}
    
/* --------- seccion info ------- */
    .info{
    flex-direction: column;
    padding-left: 1rem;
    margin-top: 7rem;
    margin-right: .9rem;
    gap: 3rem;
}
    .pedido{
    width: 100%;
    height: 10.9rem;
}
    .pedido__texto{
    left: 1rem;
}
    .info p{
    font-size: 1.3rem;
}
    .contacto{
    width: 100%;
    height: 10.5rem;
}
    .contacto__texto{
    left: 1rem;
}
/* ------------- parte final de index ----------------- */
    .final{
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    margin-top: 4rem;
    gap: 3rem;
}
    .final p{
    font-size: 1.6rem;
}
    .final span{
    font-size: 1.2rem;
}
    .iconos{
    margin-top: 2rem;
}
    #mapa__tienda{
    margin-top: 1.5rem;
    width: 16rem;
    height: 9rem;
}
    footer{
    font-size: 1.4rem;
    padding-top: 2rem;
    padding-left: 0;
}
    .grid__texto p{
    font-size: 1.3rem;}
}
    .carousel-item{
        padding-left: 6rem;
}


/*  -------------------------------  Media Queries 375 -----------------------------------  */

@media screen and (max-width:375px) {
    .organizacion{
    font-size: 1.4rem;
    padding-top: 1.5rem;
}
    .submenu{
        top: 40px;
    }
    .hero__section{
    flex-direction: column;
    margin-top: 15rem;

    .heroimagen__izquierda img{
        width: 360px;
        height: 300px;
        padding-right: 0rem;
    }
}
    .titulo__derecha{
    margin-left: 2rem;
    font-size: 3rem;
    width: 30rem;
    padding-left: 1rem;
    padding-right: 2rem;
}
    .texto__derecha{
    padding-right: 1rem;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    margin-left: 0rem;
}
    .boton__derecha{
    width: 6rem;
    height: 3rem;
    margin-left: 41%;
    border-width: 1px;
    font-size: 1.2rem;
}
    
/*  ----- hero-dos, seccion hombre index ----- */
    .hero__dos{
    flex-direction: column;
}
    .titulo__izquierda{
    width: 37rem;
    margin-left: 1rem;
    font-size: 2.7rem;
}
    .texto__izquierda{
    padding-right: 1rem;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
    .boton__izquierda{
    font-size: 1.1rem;
    width: 7rem;
    height: 2.7rem;
    margin-left: 44%;
}
    .heroimagen__derecha img{
    width: 330px;
    height: 290px;
}
    
/*  --------- seccion mujer index --------- */
    .mujer{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
    .mujer__izquierda{
    width: 100%;
}
    .mujer h2{
    width: 35rem;
    padding-right: 1rem;
    padding-left: 1;
    margin-left: .1rem;
}
    .mujer p{
    padding-right: 1rem
}
    .mujer .heroimagen__izquierda img{
    margin-right: 0;
    margin-left: 2rem;
}
/* --------- seccion info ------- */
    .info{
    flex-direction: column;
    padding-left: 1rem;
    margin-top: 4rem;
    margin-right: .9rem;
    gap: 1.3rem;
}
    .pedido{
    width: 100%;
    height: 10.7rem;
}
    .pedido__texto{
    left: 1rem;
}
    .info p{
    font-size: 1.2rem;
}
    .contacto{
    width: 100%;
    height: 10.4rem;
}
    .contacto__texto{
    left: 1rem;
}

/* ------------- parte final de index ----------------- */
    .final{
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    margin-top: 4rem;
    gap: 4rem;
}
    .final p{
    font-size: 1.6rem;
}
    .final span{
    font-size: 1.2rem;
}
    .iconos{
    width: 3.5rem;
    margin-top: 2rem;
}
    #mapa__tienda{
    margin-top: 1.5rem;
    width: 17rem;
    height: 10rem;
}
    footer{
    font-size: 1.3rem;
    padding-top: 2rem;
}
    h3{
    font-size: 2.7rem;
}
    .grid__texto p{
    font-size: 1.2rem;}
}
.carousel-item{
    padding-left: 3.5rem;
}


   
/*  -------------------------------  Media Queries 320 ----------------------------------  */

@media screen and (max-width:320px) {
    .organizacion{
    font-size: 1.4rem;
    padding-top: 1.5rem;
}
    .hero__section{
    flex-direction: column;
    padding-right: 6rem;
    margin-top: 16rem;

    .heroimagen__izquierda {
        padding-left: 4rem;
        margin-right: 1rem;
    }
        .heroimagen__izquierda img{
        width: 290px;
        height: 270px;
        margin-top: 1rem;
    }
}
    .titulo__derecha{
    width: 31rem;
    padding-right: 0;
    padding-left: 3rem;
    font-size: 3.1rem;
}
    .texto__derecha{
    font-size: 1.5rem;
    padding-top: 1.5rem;
    margin-left: 5rem;
}
    .boton__derecha{
    width: 6rem;
    height: 3rem;
    margin-left: 50%;
    font-size: 1.2rem;
}
    .heroimagen__izquierda {
    padding-left: 2rem;
    margin-right: 1rem;
}
    .heroimagen__izquierda img{
    width: 290px;
    height: 270px;
    margin-top: 3rem;
}

/*  ----- hero-dos, seccion hombre index ----- */
    .hero__dos{
    flex-direction: column;
}
    .titulo__izquierda{
    width: 30rem;
    font-size: 3rem;
}
    .texto__izquierda{
    font-size: 1.5rem;
}
    .boton__izquierda{
    font-size: 1.1rem;
    width: 7rem;
    height: 2.7rem;
    margin-left: 43%;
}
    .heroimagen__derecha img{
    width: 290px;
    height: 270px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 3rem;
}
    .hero__dos .heroimagen__izquierda{
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
    }
    .hero__dos .heroimagen__izquierda img{
        margin-left: 0;
        margin-top: 0;
        width: 310px;
    }
    .hero__dos .heroimagen__derecha{
        
        padding-left: 1rem;
    }
    .hero__dos .heroimagen__derecha img{
        margin-left: 0;
        padding-left: .5rem;
        padding-right: 0;
    }
/*  --------- seccion mujer index --------- */
    .mujer{
    flex-direction: column;
}
    .mujer h2{
    width: 100%;
    padding-left: 3rem;
    padding-right: 1rem;
    margin-left: 0rem;
}
    .mujer p{
    padding-left: .5rem;
    padding-right: .5rem;
    margin-left: 1rem;
}
    .mujer button{
    margin-left: 13rem;
}
    .mujer .heroimagen__izquierda{
    margin-right: 3.5rem;
    padding-left: 2.5rem;
}


    /* --------- seccion info ------- */
    .info{
    flex-direction: column;
    padding-left: 1rem;
    margin-top: 4rem;
    margin-right: .9rem;
    gap: 3rem;
}
    .pedido{
    width: 100%;
    height: 12rem;
    }
    .pedido__texto{
    left: .5rem;
    }
    .info p{
    font-size: 1.2rem;
    }
    .contacto{
    width: 100%;
    height: 10.4rem;
    }
    .contacto__texto{
    left: .5rem;
    }
    /* ------------- parte final de index ----------------- */
    .final{
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    margin-top: 4rem;
    gap: 4rem;
}
    .final p{
    font-size: 1.5rem;
}
    .final span{
    font-size: 1.2rem;
}
    .iconos{
    width: 3.7rem;
    margin-top: 2rem;
}
    #mapa__tienda{
    margin-top: 1.5rem;
    width: 17rem;
    height: 11rem;
}
    footer{
    font-size: 1.1rem;
    padding-top: 2rem;
}
    h3{
    font-size: 2.4rem;
}
    .grid__texto p{
    font-size: 1.1rem;
}
    .carousel-item{
    padding-left: .5rem;
}
}