/*  -------------------------------  Media Queries 1024 -----------------------------------  */

@media screen and (max-width:1024px) {
    .titulo__derecha{
    font-size: 4.7rem;
}
    .texto__derecha{
    font-size: 2rem;
    padding-left: 5rem;
}
    .boton__derecha{
    height: 3rem;
}
    
    .bolsa__relative{
        padding-left: 1rem;
}
    .imagen__joyeria__acomodo{
        padding-left: 5rem;
}
            
/*  ----- hero-dos, seccion hombre index ----- */
    .titulo__izquierda{
    font-size: 4.2rem;
}
    .texto__izquierda{
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.8rem;
}
    .boton__izquierda{
    margin-left: 33%;
}
    .heroimagen__derecha img{
    width: 100%;
    margin-left: 1rem;
    margin-top: 3rem;
}
            
/*  --------- seccion mujer index --------- */
    .mujer{
        &__derecha{
            width: 120%;
        }
        .titulo__derecha{
            padding: 0;
        }
        p{
        padding-left: 0rem;
        padding-right: 2rem;
        }
        .boton__derecha{
            margin-left: 17.5rem;
        }

}
        
/* --------- seccion info ------- */
    .info{
    padding: 2rem; 
    gap: 1rem;

        p{
        font-size: 1.4rem;
        }
} 

    .pedido{
    height: 11rem;
}

    .contacto{
    height: 11rem;
}
/* ------------- parte final de index ----------------- */
    .final p{
    font-size: 1.7rem;
}

/* ------------ pagina mujer y hombre ----------------- */
    .hero__section2{
    margin-top: 17rem; 
        
        .titulo__derecha2{
            font-size: 4.2rem;
        }
        .texto__derecha2{
            font-size: 2rem;
        }
        .boton__derecha2{
            @include boton(8rem, 46%, 1.4rem);  
        }
    }

    .titulo__izquierda2{
    text-align: center;
    width: 70%;
    padding: 5rem;
        h2{
            font-size: 4.4rem;
        }
    }

    .heroimagen__derecha2 img{
        width: 100%;
        height: 65vh;
    }
    .sec__imagenes{
        padding-top: 4rem;
        height: 77vh;
        
        .sec__der{
            width: 95%;
            padding-left: 3.6rem;
        }  
    }

}


/*  -------------------------------  Media Queries 768 -----------------------------------  */

@media screen and (max-width:768px) {
    .organizacion{
    font-size: 1.8rem; 
}
    .hero__section{
        padding: 5rem;
        .heroimagen__izquierda{
            padding-left: 0;
            img{
                height: 63vh;
                width: 110%;
            }
        }
    }
    .titulo__derecha{
    font-size: 4rem;
    padding-left: 5rem;
}
    .texto__derecha{
    font-size: 2rem;
    padding-left: 3rem;
}
    .boton__derecha{
    height: 3rem;
    margin-left: 14rem;
}
            
/*  ----- hero-dos, seccion hombre index ----- */

    .hero__dos{
        padding: 5rem;
    }
    .titulo__izquierda{
    font-size: 3.8rem;
}
    .texto__izquierda{
    font-size: 2rem;
    text-align: start;
}
    .boton__izquierda{
    margin-left: 24%;
}
    .heroimagen__derecha img{
    margin-left: 1rem;
    width: 100%;
}
            
/*  --------- seccion mujer index --------- */
    .mujer{
        padding: 5rem;
        
        .titulo__derecha{
        width: 103%;
        font-size: 3.8rem;
        padding-left: 2rem;
        }
        .texto__derecha{
        padding-left: 0;
        margin-left: 5rem;
        }
        .boton__derecha{
            margin-left: 16rem;
        }
        .heroimagen__izquierda{
            width: 100%;
            img{
                width: 103%;
                height: 65vh;
            }
        }

}
        
/* --------- seccion info ------- */
    .info{
    padding: 2rem; 
    gap: 1rem;

        p{
        font-size: 1.4rem;
        }
} 

    .pedido{
    height: 11rem;
}

    .contacto{
    height: 11rem;
}
/* ------------- parte final de index ----------------- */
    .final p{
    font-size: 1.7rem;
}

/* ------------ pagina mujer y hombre ----------------- */
    .hero__section2{
    padding: 5rem;
    margin-top: 18rem; 
        
        .titulo__derecha2{
            font-size: 3.6rem;
        }
        .texto__derecha2{
            font-size: 1.9rem;
            padding-top: 2rem
        }
        .boton__derecha2{
            @include boton(8rem, 45%, 1.4rem);  
        }
        .heroimagen__izquierda2{
            padding-left: 0;
            width: 50%;
            img{
                width: 100%;
                height: 55vh;
            }
        }
    }

    .hero__dos2{
        padding: 5rem;
        .titulo__izquierda2{
        text-align: center;
        width: 70%;
        padding: 1rem;
            h2{
                font-size: 3.9rem;
            }
        }
        .heroimagen__derecha2{
            img{
                width: 100%;
                height: 55vh;
                padding-left: 4rem;
            }
        }
    }
    .sec__imagenes{
        height: 60vh;
        padding: 5rem;
        
        .sec__izq{
            width: 110%;
        }
        .sec__der{
            width: 100%;
            padding-left: 3.6rem;
        }  
    }
}





/*  -------------------------------  Media Queries 425 ------------------------------------ */

@media screen and (max-width:425px) {
    .header{
        width: 100%;
        h1{
            font-size: 3.3rem;
        }
    }
    .organizacion{
    font-size: 1.3rem;
    margin-top: 1.5rem;
    padding-left: 0;
}
    .submenu{
    padding-top: 1rem;
    padding-right: 5rem;
    padding-left: 1.8rem;
    margin-right: 0;
    gap: 2rem;
    }
    .hero__section{
    flex-direction: column;
    padding: 3rem;
    margin-top: 12rem;

        .heroimagen__izquierda {
            img{
            width: 100%;
            height: 50vh;
            padding-left: 1rem;    
            margin-top: 3rem;
            }
        }
        .titulo__derecha{
        font-size: 3.3rem;
        padding-left: 1rem;
    }
        .texto__derecha{
        font-size: 1.5rem;
        padding-right: 1rem;
        padding-top: 1.5rem;
        padding-left: 1rem;
        margin-left: 1rem;
    }
        .boton__derecha{
        width: 6rem;
        height: 3rem;
        font-size: 1.2rem;
        margin-left: 15.5rem;
    }
}

/*  ----- hero-dos, seccion hombre index ----- */
    .hero__dos{
    flex-direction: column;
    padding: 3rem;

        .hombre__derecha__texto{
            width: 95%;
            .titulo__izquierda{
            font-size: 3rem;
            text-align: center;
            }
            .texto__izquierda{
            padding-right: 1rem;
            padding-left: 1rem;
            font-size: 1.5rem;
            text-align: center;
            }
            .boton__izquierda{
            font-size: 1.1rem;
            width: 7rem;
            height: 2.7rem;
            margin-left: 39%;
            }
        }
        .heroimagen__derecha {
        width: 100%;
            img{
            width: 96%;
            height: 50vh;
            margin-left: 1rem;
            }
        }
}

/*  --------- seccion mujer index --------- */
    .mujer{
        flex-direction: column;
        padding-top: 3rem;
        .mujer__derecha{
            h2{
            font-size: 3rem;
            padding-right: 3rem;
            padding-left: 3rem;
            }
            p{
            font-size: 1.5rem;
            text-align: center;
            padding-right: 4rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            }  
        }
        .heroimagen__izquierda{
            margin-top: 3rem;
            img{
            height: 50vh;
            }
        }
}
    
/* --------- seccion info ------- */
    .info{
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 0;
    gap: 4rem;
}
    .pedido{
    width: 95%;
    height: 10.9rem;
}
    .pedido__texto{
    left: 1rem;
}
    .info p{
    font-size: 1.3rem;
}
    .contacto{
    width: 95%;
    height: 10.5rem;
}
    .contacto__texto{
    left: 1rem;
}
/* ------------- parte final de index ----------------- */
    .final{
    flex-direction: column;
    height: 100%;
    padding: 1.5rem;
    margin-top: 6rem;
    gap: 3.6rem;
        p{
        font-size: 1.6rem;
        }
        span{
        font-size: 1.2rem;
        }
}

    #mapa__tienda{
    width: 16rem;
    height: 9rem;
}
    footer{
    font-size: 1.4rem;
    padding-top: 2rem;
}
    .grid__texto p{
    font-size: 1.3rem;}

    .carousel-item{
        padding-left: 2rem;
    }

/* ------------ pagina mujer y hombre ----------------- */
    .hero__section2{
        flex-direction: column;
        padding: 3rem;
        margin-top: 15rem; 
            
        .hero__rebaja{
            width: 88%;
            .titulo__derecha2{
                font-size: 2.5rem;
                padding-left: 0;
            }
            .texto__derecha2{
                font-size: 1.7rem;
                margin-left: 0;
                margin-bottom: 0
            }
            .boton__derecha2{
                @include boton(7rem, 42%, 1.4rem); 
                height: 2.7rem;
                margin-bottom: 2rem; 
            }
        }
            .heroimagen__izquierda2{
                width: 100%;
                img{
                    width: 100%;
                    height: 50vh;
                }
            }
        }
    
        .hero__dos2{
            flex-direction: column;
            padding: 3rem;
            .titulo__izquierda2{
            text-align: center;
            width: 100%;
            padding: 1rem;
            margin-bottom: 3rem;
                h2{
                    font-size: 2.5rem;
                }
            }
            .heroimagen__derecha2{
                width: 100%;
                img{
                    width: 100%;
                    height: 50vh;
                    padding-left: 0;
                }
            }
        }
        .sec__imagenes{
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 3rem;
            gap: 3rem;
            
            .sec__izq{
                width: 100%;
                height: 45vh;
                img{
                    width: 100%;
                }
            }
            .sec__der{
                width: 100%;
                padding-left: 0;
                height: 45vh;
            }  
        }
}


/*  -------------------------------  Media Queries 375 -----------------------------------  */

@media screen and (max-width:375px) {
    .submenu{
        margin-right: 0;
    }

    .hero__section{
        padding: 2rem;
        .boton__derecha{
        margin-left: 14.2rem;
    }
}

    .hero__dos{
        padding: 2rem;
    }
/*  --------- seccion mujer index --------- */
    .mujer{
        .boton__derecha{
            margin-left: 13.5rem;
            font-size: 1.1rem;
            width: 6rem;
            height: 2.5rem;
        }
}
    .frase__categoria{
        h3{
            font-size: 2.5rem;
            padding: 1rem;
        p{
            margin-left: 8rem;
        }
        }
    }
/* --------- seccion info ------- */
    .info{
    margin-top: 1rem;
    gap: 4rem;
}
/* ------------- parte final de index ----------------- */
    
    footer{
    font-size: 1.2rem;
    padding-top: 2rem;
}
    .grid__texto p{
    font-size: 1.3rem;}

    .carousel-item{
        padding-left: 2rem;
    }

/* ------------ pagina mujer y hombre ----------------- */
    .hero__section2{
        flex-direction: column;
        padding: 3rem;
        margin-top: 15rem; 
            
        .hero__rebaja{
            width: 88%;
            .titulo__derecha2{
                font-size: 2.5rem;
                padding-left: 0;
            }
            .texto__derecha2{
                font-size: 1.7rem;
                margin-left: 0;
                margin-bottom: 0
            }
            .boton__derecha2{
                @include boton(7rem, 40%, 1.1rem); 
                height: 2.6rem;
                margin-bottom: 2rem; 
            }
        }
            .heroimagen__izquierda2{
                width: 100%;
                img{
                    width: 100%;
                    height: 50vh;
                }
            }
        }
    
        .hero__dos2{
            flex-direction: column;
            padding: 3rem;
            .titulo__izquierda2{
            text-align: center;
            width: 100%;
            padding: 1rem;
            margin-bottom: 3rem;
                h2{
                    font-size: 2.5rem;
                }
            }
            .heroimagen__derecha2{
                width: 100%;
                img{
                    width: 100%;
                    height: 50vh;
                    padding-left: 0;
                }
            }
        }
        .sec__imagenes{
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 3rem;
            gap: 3rem;
            
            .sec__izq{
                width: 100%;
                height: 45vh;
                img{
                    width: 100%;
                }
            }
            .sec__der{
                width: 100%;
                padding-left: 0;
                height: 45vh;
            }  
        }
} 


/*  -------------------------------  Media Queries 320 ----------------------------------  */

@media screen and (max-width:320px) {
    .hero__section{
        .boton__derecha{
        margin-left: 12rem;
    }
}
    .hero__dos{
        .hombre__derecha__texto{
            .boton__izquierda{
                margin-left: 37%;
            }
        }

    }

    .mujer{
        padding: 3rem;
    }
    
    .hero__section2{
        .hero__rebaja{
            width: 100%;
            margin-top: 3rem;
            .texto__derecha2{
                padding: 1rem;
            }
            .boton__derecha2{
                margin-left: 10rem;
            }
        }

    }

    .frase__categoria{
        margin-top: 18rem;
        margin-bottom: 0;
    }
/* ------------- parte final de index ----------------- */
    footer{
    font-size: 1rem;
    padding-top: 2rem;
    }
}