*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/*quita el color morado de los hipervinculos*/
a:link, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

span{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 4.3rem;
    font-weight: 600;
    padding-top: 12px;
    text-align: center;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 5.5rem;
    font-weight: 600;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem;
    font-weight: bold;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2.8rem;
}

.header{
    top: .1px;
    background-color: rgb(255, 255, 255);
}

footer{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(34, 34, 34);
    text-align: center;
    color: rgb(232, 228, 228);

}

/* ------------------------------ sección de menú principal ------------------------ */
.organizacion{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9rem;
    list-style: none;
    letter-spacing: 1px;
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    position: relative;
}

.organizacion a{
    display: inline-block;
    position: relative;
}

.organizacion a::after{
    content: "";
    position: absolute;
    width: 99%;
    height: 7px;
    bottom: 0;
    left: 0;
    padding: 1.3rem;
    background-color: rgba(171, 171, 171, 0.098);
    border-radius: .3rem;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .2s ease-out;
}

.organizacion a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.submenu a::after{
    background-color: transparent;
}

.submenu{
    position: absolute;
    width: 100%;
    padding-right: 2%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-right: 2rem;
    top: 4.5rem;
    background-color: rgb(255, 255, 255);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;     
}

.submenu a:hover{
    transform: scale(1.2, 1.2);
    transform-origin: bottom left;
}

.gafas-sol{
    color: rgb(162, 1, 1) !important;
}

.joyeria-articulo{
    color: rgb(162, 1, 1) !important;
}

.bolsa-mano{
    color: rgb(162, 1, 1) !important;
}

.navajas{
    color: rgb(162, 1, 1) !important;
}

.gorras{
    color: rgb(162, 1, 1) !important;
}

/* --------------------- hero section ---------------------- */
.hero__section{
    width: 100%;
    padding: 7rem;
    margin-top: 17rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.heroimagen__izquierda{
    padding-left: 5rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  

/* --------  primer texto de rebajas -------- */
.titulo__derecha{
    text-align: center;
    padding-left: 5rem;
    padding-right: 3rem;
}

.texto__derecha{
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 3rem;
    margin-left: 3.7rem;
}

.boton__derecha{
    width: 8rem;
    height: 4rem;
    margin-left: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1.1px;
    border-radius: .4rem;
    background-color: transparent;
    font-size: 1.4rem;
}

.boton__derecha a:hover{
    color: #8a8686;
}

/* -------- sección de hombre -------- */
.hero__dos{
    width: 100%;
    padding: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulo__izquierda{
    text-align: center;
    padding-right: 12rem;
    padding-left: 5rem;
    padding-top: 2rem;
}

.texto__izquierda{
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 12rem;
}

.boton__izquierda{ 
    width: 10rem;
    height: 4rem;
    margin-left: 41%;
    border-style: solid;
    border-color: black;
    border-width: 1.1px;
    border-radius: .4rem;
    background-color: transparent;
    font-size: 1.5rem;
}

.boton__izquierda a:hover{
    color: #8a8686;
}

.heroimagen__derecha{
    margin-right: rem;
}

/* ---------- sección de mujer ----------- */
.mujer{
    width: 100%;
    padding: 7rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}



/* ------------ sección de recuadros de información ------------- */
.info{
    background-color: darkslatebue;
    margin-top: 4rem;
    margin-bottom: ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 6%;
}

.info :hover{
    background-color: rgba(198, 198, 198, 0.249);
}


.pedido{
    border-style: ridge;
    border-color: rgba(218, 216, 216, 0.324);
    width: 50rem;
    height: 12rem;
}

.pedido :hover{
    background-color: transparent;
}

.pedido__texto{
    position: relative;
    top: 2rem;
    left: 1.2rem;
}

.pedido__icono{
    position: relative;
    top: .8rem;
    left: 1rem;
}

.contacto{
    border-style: ridge;
    border-color: rgba(218, 216, 216, 0.324);
    width: 50rem;
    height: 12rem;
}

.contacto :hover{
    background-color: transparent;
}

.contacto__texto{
    position: relative;
    top: 2rem;
    left: 1.2rem;
}

.contacto__icono{
    position: relative;
    top: .8rem;
    left: 1rem;
}

/* ------------- parte final de index ----------------- */

.final{
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 45vh;
    padding: 2.5rem;
    margin-top: 7rem;
}

.final p{
    font-size: 1.8rem;
    color: rgb(232, 228, 228);
}

.final span{
    font-size: 1.7rem;
    color: rgb(232, 228, 228);
}

.iconos{
    width: 4.5rem;
    margin-top: 2rem;
}

#mapa__tienda{
    margin-top: 1.5rem;
    width: 23rem;
    height: 14rem;
}

/* --------------------------- Comienza Sección mujer ---------------------------- */


.boton__blanco{
    border: none;
    width: 20rem;
    height: 13rem;
    font-size: 7rem;
    font-weight: 700;
    color: white;
    background-color: transparent;
    display: flex;
}

.bolsa__relative{
    position: relativ;
}

.boton__absolute{
    position: absolute;
    top: 33%;
    right: 33%;
}

.imagen__joyeria__acomodo{
    width: 100%;
    padding-left: 9.6rem;
}

/*    sección bolsas*/
.frase__categoria{
    margin-top: 20rem;
    text-align: center;
}

.frase__categoria__p{
    width: 50%;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 25%;
    margin-top: 1rem;
}

.grid__productos{
    background-color: rgba(218, 218, 218, 0.242);
    margin-top: 7rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10rem;
    padding-left: 6%;
    padding-bottom: 1%;
    display: grid;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid__imagen{
    margin-top: 3rem;
}

/* ------------------------------ Recomendaciones ---------------------------*/

.reco__h4{
    margin-top: 10rem;
    font-size: 3rem;
}
@media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 30%;
      display: inline-block;
    }
  }

    .card{
    margin: 5rem;
    border: none;
}
    .corousel__h{
        height: 25vh;
    }
    .carousel-control-prev, .carousel-control-next{
    background-color: #8a8686;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
}

    .suscribir__boton:hover{
        opacity: .7;
    }



/* ------------------------------ Página envíos ----------------------------------------- */

#envios__h4{
    margin-top: 8rem;
    margin-bottom: 4rem;
    padding-left: 3%;
}


/* ------------------------------- Página contacto -------------------------------------- */

.contacto__ayuda{
    margin-top: 8rem;
    padding-left: 3%;
}

.contacto__info{
    margin-top: 5rem;
    padding: 1rem;
}

.gap__container{
    gap: 5rem;
}

.bgc__container{
    background-color: rgba(238, 238, 238, 0.324);
}

#contacto__form{
    margin-top: 6rem;
    padding-left: 3%;
    padding-right: 3%;
}

.txt__label{
    font-size: 1.4rem;
}


/*  -------------------------------  Media Queries 1024 -----------------------------------  */

@media screen and (max-width:1024px) {
    .hero__section{
    padding-left: 2rem;
    gap: 2rem;
}
    .titulo__derecha{
    
    font-size: 4.7rem;
    padding-right: 1rem;
}
    .texto__derecha{
    padding-right: 0rem;
    font-size: 2rem;
    padding-left: 2rem;
}
    .boton__derecha{
    height: 3rem;
}
    .heroimagen__izquierda img{
    width: 430px;
    height: 440px;
    padding-left: 0;
    margin-top: 3rem;
}

    .bolsa__relative{
        padding-left: 1rem;
    }
    .imagen__joyeria__acomodo{
        padding-left: 5rem;
    }
            
/*  ----- hero-dos, seccion hombre index ----- */
    .hero__dos{
    padding-top: 1rem;
    padding-right: 5rem;
    padding-left: 5rem;
}
    .titulo__izquierda{
    width: 48rem;
    padding-right: 3rem;
    padding-left: 1rem;
    font-size: 4.2rem;
}
    .texto__izquierda{
    padding-left: 1rem;
    padding-right: 6rem;
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.8rem;
}
    .boton__izquierda{
    margin-left: 38%;
}
    .heroimagen__derecha img{
    width: 410px;
    height: 440px;
    margin-left: 1rem;
    margin-top: 3rem;
}
            
/*  --------- seccion mujer index --------- */
    .mujer{
    padding: 2rem;
}
    .mujer h2{
    margin-right: 3rem;
    margin-left: 2.5rem;
}
    .mujer p{
    padding-left: 4rem;
    padding-right: 3rem;
}
        
/* --------- seccion info ------- */
    .info{
    padding-left: 3rem;
    gap: 3rem;
}
    .pedido{
    width: 90%;
    height: 11rem;
}
    .pedido__texto{
    left: 1rem;
}
    .info p{
    font-size: 1.4rem;
}
    .contacto{
    width: 90%;
    height: 11rem;
}
    .contacto__texto{
    left: 1rem;
}
/* ------------- parte final de index ----------------- */
    .final p{
    font-size: 1.7rem;
}
    footer{
    padding-left: 7rem;}
}





/*  -------------------------------  Media Queries 768 -----------------------------------  */

@media screen and (max-width:768px) {
    .organizacion{
    font-size: 1.9rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

    .hero__section{
    margin-top: 19rem;
    padding-top: 1rem;
    gap: 2rem;
}
    .titulo__derecha{
    width: 35rem;
    font-size: 3.7rem;
    padding-right: 1rem;
}
    .texto__derecha{
    padding-right: 0rem;
    font-size: 1.7rem;
    padding-left: 2rem;
    margin-left: 2rem;
}
    .boton__derecha{
    width: 6rem;
    height: 3rem;
    margin-left: 48%;
    font-size: 1.2rem;
}
    .heroimagen__izquierda img{
    width: 330px;
    height: 340px;
    padding-left: 3rem;
    margin-top: 3rem;
}
        
/*  ----- hero-dos, seccion hombre index ----- */
    .hero__dos{
    padding-bottom: 4rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 5rem;
}
    .titulo__izquierda{
    width: 40rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 3.7rem;
}
    .texto__izquierda{
    padding-right: 3rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.8rem;
}
    .boton__izquierda{
    font-size: 1.1rem;
    width: 7rem;
    height: 2.7rem;
    margin-left: 40%;
    border-width: 1px;
}
    .heroimagen__derecha img{
    width: 300px;
    height: 350px;
    margin-left: 1rem;
    margin-top: 3rem;
}
        
/*  --------- seccion mujer index --------- */
    .mujer{
    padding: 1rem;
}
    .mujer h2{
    padding-left: 3rem;
    margin-left: 4.5rem;
}
    .mujer p{
    width: ;
    padding-left: 20;
    padding-right: 30;
}
    .mujer .heroimagen__izquierda{
    padding-left: .1rem;
}
        
/* --------- seccion info ------- */
    .info{
    flex-direction: column;
    padding-left: 1rem;
    margin-top: 4rem;
    gap: 3rem;
}
    .pedido{
    width: 90%;
    height: 11.3rem;
}
    .pedido__texto{
    left: 1rem;
}
    .info p{
    font-size: 1.4rem;
}
    .contacto{
    width: 90%;
    height: 11rem;
}
    .contacto__texto{
    left: 1rem;
}
/* ------------- parte final de index ----------------- */
    .final{
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    margin-top: 4rem;
    gap: 4rem;
}
    .final p{
    font-size: 1.7rem;
}
    .final span{
    font-size: 1.2rem;
}
    .iconos{
    width: 4.4rem;
    margin-top: 2rem;
}
    #mapa__tienda{
    margin-top: 1.5rem;
    width: 20rem;
    height: 13rem;
}
    footer{
    font-size: 1.6rem;
    padding-top: 2rem;}
}




/*  -------------------------------  Media Queries 425 ------------------------------------ */

@media screen and (max-width:425px) {
    .organizacion{
    font-size: 1.6rem;
    padding-top: 1.5rem;
}
    .submenu{
        padding-top: 1rem;
        padding-right: 5rem;
        padding-left: 1.8rem;
        gap: 2rem;
    }
    .hero__section{
    flex-direction: column;
    padding-bottom: 3rem;
    margin-top: 18rem;
    padding-top: 1rem;
    padding-right: 2rem;
}
    .titulo__derecha{
    width: 42rem;
    font-size: 3.3rem;
    padding-right: 3rem;
}
    .texto__derecha{
    padding-right: 1rem;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    margin-left: 1rem;
}
    .boton__derecha{
    width: 6rem;
    height: 3rem;
    margin-left: 45%;
    border-width: 1px;
    font-size: 1.2rem;
}
.heroimagen__izquierda {
    padding-left: 0;
    margin-right: 1rem;
}

    .heroimagen__izquierda img{
    width: 390px;
    height: 350px;
    padding-left: 1rem;    
    margin-top: 3rem;
}
    
/*  ----- hero-dos, seccion hombre index ----- */
    .hero__dos{
    flex-direction: column;
    padding-bottom: 4rem;
    padding-top: 1rem;
    padding-right: 3rem;
}
    .titulo__izquierda{
    width: 42rem;
    padding-right: 0;
    font-size: 3.1rem;
}
    .texto__izquierda{
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.8rem;
    ma
}
    .boton__izquierda{
    font-size: 1.1rem;
    width: 7rem;
    height: 2.7rem;
    margin-left: 45%;
}
    .heroimagen__derecha img{
    width: 380px;
    height: 350px;
    margin-top: 3rem;
}
    .bolsa__relative{
       padding-left: 0; 
    }
    .imagen__lentes__acomodo{
        margin-left: 1.3rem;
    }
    .imagen__joyeria__acomodo{
        margin-right: 1.4rem;
    }
    
/*  --------- seccion mujer index --------- */
    .mujer{
    padding: 1rem;
    flex-direction: column;
}
    .mujer h2{
    width: 39rem;
    padding-right: 2rem;
    margin-right: 0;
    margin-left: 1rem;
   
}
    .mujer p{
    width: ;
    padding-left: 20;
    padding-right: 30;
}
    .mujer img{
    padding-left: 1.5rem;
}
    
/* --------- seccion info ------- */
    .info{
    flex-direction: column;
    padding-left: 1rem;
    margin-top: 7rem;
    margin-right: .9rem;
    gap: 3rem;
}
    .pedido{
    width: 100%;
    height: 10.9rem;
}
    .pedido__texto{
    left: 1rem;
}
    .info p{
    font-size: 1.3rem;
}
    .contacto{
    width: 100%;
    height: 10.5rem;
}
    .contacto__texto{
    left: 1rem;
}
/* ------------- parte final de index ----------------- */
    .final{
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    margin-top: 4rem;
    gap: 3rem;
}
    .final p{
    font-size: 1.6rem;
}
    .final span{
    font-size: 1.2rem;
}
    .iconos{
    margin-top: 2rem;
}
    #mapa__tienda{
    margin-top: 1.5rem;
    width: 16rem;
    height: 9rem;
}
    footer{
    font-size: 1.4rem;
    padding-top: 2rem;
    padding-left: 0;
}
    .grid__texto p{
    font-size: 1.3rem;}
}


/*  -------------------------------  Media Queries 375 -----------------------------------  */

@media screen and (max-width:375px) {
    .organizacion{
    font-size: 1.4rem;
    padding-top: 1.5rem;
}
    .submenu{
        top: 40px;
    }
    .hero__section{
    flex-direction: column;
    margin-top: 15rem;
}
    .titulo__derecha{
    margin-left: 2rem;
    font-size: 3rem;
    width: 30rem;
    padding-left: 1rem;
    padding-right: 2rem;
}
    .texto__derecha{
    padding-right: 1rem;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    margin-left: 0rem;
}
    .boton__derecha{
    width: 6rem;
    height: 3rem;
    margin-left: 41%;
    border-width: 1px;
    font-size: 1.2rem;
}
    .heroimagen__izquierda img{
    width: 360px;
    height: 300px;
    padding-right: 1rem;
    padding-left: 2rem;
}
    
/*  ----- hero-dos, seccion hombre index ----- */
    .hero__dos{
    flex-direction: column;
}
    .titulo__izquierda{
    width: 37rem;
    margin-left: 1rem;
    font-size: 2.7rem;
}
    .texto__izquierda{
    padding-right: 1rem;
    font-size: 1.5rem;
    padding-top: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
    .boton__izquierda{
    font-size: 1.1rem;
    width: 7rem;
    height: 2.7rem;
    margin-left: 44%;
}
    .heroimagen__derecha img{
    width: 330px;
    height: 290px;
}
    
/*  --------- seccion mujer index --------- */
    .mujer{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
    .mujer__izquierda{
    width: 100%;
}
    .mujer h2{
    width: 35rem;
    padding-right: 1rem;
    padding-left: 1;
    margin-left: .1rem;
}
    .mujer p{
    padding-right: 1rem
}
    .mujer .heroimagen__izquierda img{
    padding-right: .5rem;
    padding-right: .5rem;
}
/* --------- seccion info ------- */
    .info{
    flex-direction: column;
    padding-left: 1rem;
    margin-top: 4rem;
    margin-right: .9rem;
    gap: 1.3rem;
}
    .pedido{
    width: 100%;
    height: 10.7rem;
}
    .pedido__texto{
    left: 1rem;
}
    .info p{
    font-size: 1.2rem;
}
    .contacto{
    width: 100%;
    height: 10.4rem;
}
    .contacto__texto{
    left: 1rem;
}

/* ------------- parte final de index ----------------- */
    .final{
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    margin-top: 4rem;
    gap: 4rem;
}
    .final p{
    font-size: 1.6rem;
}
    .final span{
    font-size: 1.2rem;
}
    .iconos{
    width: 3.5rem;
    margin-top: 2rem;
}
    #mapa__tienda{
    margin-top: 1.5rem;
    width: 17rem;
    height: 10rem;
}
    footer{
    font-size: 1.3rem;
    padding-top: 2rem;
}
    h3{
    font-size: 2.7rem;
}
    .grid__texto p{
    font-size: 1.2rem;}
}


   
/*  -------------------------------  Media Queries 320 ----------------------------------  */

@media screen and (max-width:320px) {
    .organizacion{
    font-size: 1.4rem;
    padding-top: 1.5rem;
}
    .hero__section{
    flex-direction: column;
    padding-right: 6rem;
    margin-top: 16rem;
}
    .titulo__derecha{
    width: 31rem;
    padding-right: 0;
    padding-left: 3rem;
    font-size: 3.1rem;
}
    .texto__derecha{
    font-size: 1.5rem;
    padding-top: 1.5rem;
    margin-left: 5rem;
}
    .boton__derecha{
    width: 6rem;
    height: 3rem;
    margin-left: 50%;
    font-size: 1.2rem;
}
    .heroimagen__izquierda {
    padding-left: 2rem;
    margin-right: 1rem;
}
    .heroimagen__izquierda img{
    width: 290px;
    height: 270px;
    margin-top: 3rem;
    margin-left: 2.5rem;
}

/*  ----- hero-dos, seccion hombre index ----- */
    .hero__dos{
    flex-direction: column;
}
    .titulo__izquierda{
    width: 30rem;
    font-size: 3rem;
}
    .texto__izquierda{
    font-size: 1.5rem;
}
    .boton__izquierda{
    font-size: 1.1rem;
    width: 7rem;
    height: 2.7rem;
    margin-left: 43%;
}
    .heroimagen__derecha img{
    width: 290px;
    height: 270px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 3rem;
}
    .hero__dos .heroimagen__izquierda{
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
    }
    .hero__dos .heroimagen__izquierda img{
        margin-left: 0;
        margin-top: 0;
        width: 310px;
    }
    .hero__dos .heroimagen__derecha{
        padding-right: 
        padding-left: 1rem;
    }
    .hero__dos .heroimagen__derecha img{
        margin-left: 0;
        padding-left: .5rem;
        padding-right: 0;
    }
/*  --------- seccion mujer index --------- */
    .mujer{
    flex-direction: column;
}
    .mujer h2{
    width: 100%;
    padding-left: 3rem;
    padding-right: 1rem;
    margin-left: 0rem;
}
    .mujer p{
    padding-left: .5rem;
    padding-right: .5rem;
    margin-left: 1rem;
}
    .mujer button{
    margin-left: 13rem;
}
    .mujer .heroimagen__izquierda{
    margin-right: 3.5rem;
    padding-left: 0rem;
}


    /* --------- seccion info ------- */
    .info{
    flex-direction: column;
    padding-left: 1rem;
    margin-top: 4rem;
    margin-right: .9rem;
    gap: 3rem;
}
    .pedido{
    width: 100%;
    height: 12rem;
    }
    .pedido__texto{
    left: .5rem;
    }
    .info p{
    font-size: 1.2rem;
    }
    .contacto{
    width: 100%;
    height: 10.4rem;
    }
    .contacto__texto{
    left: .5rem;
    }
    /* ------------- parte final de index ----------------- */
    .final{
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    margin-top: 4rem;
    gap: 4rem;
}
    .final p{
    font-size: 1.5rem;
}
    .final span{
    font-size: 1.2rem;
}
    .iconos{
    width: 3.7rem;
    margin-top: 2rem;
}
    #mapa__tienda{
    margin-top: 1.5rem;
    width: 17rem;
    height: 11rem;
}
    footer{
    font-size: 1.1rem;
    padding-top: 2rem;
}
    h3{
    font-size: 2.4rem;
}
    .grid__texto p{
    font-size: 1.1rem;
}
}