@charset "UTF-8";
/* ------------------------- hero section ------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*quita el color morado de los hipervinculos*/
a:link, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

span {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.4rem;
  font-weight: 600;
  padding-top: 12px;
  text-align: center;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 5.5rem;
  font-weight: 600;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 2.8rem;
}

.header {
  width: auto;
  top: .1px;
  background-color: white;
}

footer {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  background-color: #222222;
  text-align: center;
  color: #e8e4e4;
}

/* ------------------------------ sección de menú principal ------------------------ */
.organizacion {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.9rem;
  list-style: none;
  letter-spacing: 1px;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.organizacion a {
  display: inline-block;
  position: relative;
}

.organizacion a::after {
  content: "";
  position: absolute;
  width: 99%;
  height: 7px;
  bottom: 0;
  left: 0;
  padding: 1.3rem;
  background-color: rgba(171, 171, 171, 0.098);
  border-radius: .3rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.organizacion a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.submenu {
  position: absolute;
  width: 100%;
  padding-right: 2%;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-right: 2rem;
  top: 4.7rem;
  background-color: white;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.submenu a:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.submenu a::after {
  background-color: transparent;
}

.gafas-sol {
  color: #a20101 !important;
}

.joyeria-articulo {
  color: #a20101 !important;
}

.bolsa-mano {
  color: #a20101 !important;
}

.navajas {
  color: #a20101 !important;
}

.gorras {
  color: #a20101 !important;
}

/* ------------------------- hero section ------------------------- */
/* --------------------- hero section ---------------------- */
.hero__section {
  width: 100%;
  padding: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15rem;
}

.hero__section .heroimagen__izquierda {
  padding-left: 1rem;
}

.hero__section .heroimagen__izquierda img {
  width: 100%;
  height: 70vh;
}

.hero__section .scale-up-center {
  -webkit-animation: scale-up-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* --------  primer texto de rebajas -------- */
.titulo__derecha {
  text-align: center;
  padding-left: 7rem;
  padding-right: 1rem;
}

.texto__derecha {
  font-size: 2.5rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 3rem;
  margin-left: 4rem;
}

.boton__derecha {
  width: 8rem;
  margin-left: 50%;
  font-size: 1.4rem;
  height: 4rem;
  border-style: solid;
  border-color: black;
  border-width: 1.1px;
  border-radius: .4rem;
  background-color: transparent;
}

.boton__derecha a:hover {
  color: #8a8686;
}

/* -------- sección de hombre -------- */
.hero__dos {
  width: 100%;
  padding: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hombre__derecha__texto {
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.texto__izquierda {
  font-size: 2.5rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
  padding-left: 0rem;
  padding-right: 5rem;
}

.boton__izquierda {
  width: 10rem;
  margin-left: 41%;
  font-size: 1.5rem;
  height: 4rem;
  border-style: solid;
  border-color: black;
  border-width: 1.1px;
  border-radius: .4rem;
  background-color: transparent;
}

.boton__izquierda a:hover {
  color: #8a8686;
}

.heroimagen__derecha img {
  width: 115%;
  height: 70vh;
}

/* ---------- sección de mujer ----------- */
.mujer {
  padding: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mujer__derecha {
  width: 100%;
}

.mujer .titulo__derecha {
  padding-left: 2rem;
}

.mujer .texto__derecha {
  padding-left: 2.5rem;
}

.mujer .boton__derecha {
  margin-left: 34rem;
}

.mujer .heroimagen__izquierda img {
  width: 90%;
}

/* ------------------------- hero section ------------------------- */
/* --------------------- hero section ---------------------- */
.hero__section2 {
  width: 100%;
  padding: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 19rem;
}

.hero__section2 .hero__rebaja {
  width: 52%;
}

.hero__section2 .heroimagen__izquierda2 {
  padding-left: 1rem;
}

.hero__section2 .heroimagen__izquierda2 img {
  width: 100%;
  height: 70vh;
}

.hero__section2 .scale-up-center {
  -webkit-animation: scale-up-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* --------  primer texto de rebajas -------- */
.titulo__derecha2 {
  text-align: center;
  padding-left: 2rem;
}

.texto__derecha2 {
  font-size: 2.5rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 2rem;
  margin-left: 4rem;
}

.boton__derecha2 {
  width: 8rem;
  margin-left: 48%;
  font-size: 1.4rem;
  height: 4rem;
  border-style: solid;
  border-color: black;
  border-width: 1.1px;
  border-radius: .4rem;
  background-color: transparent;
}

.boton__derecha2 a:hover {
  color: #8a8686;
}

/* -------- sección de hombre -------- */
.hero__dos2 {
  width: 100%;
  padding: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo__izquierda2 {
  text-align: center;
  width: 60%;
}

.heroimagen__derecha2 img {
  width: 100%;
  height: 75vh;
}

.sec__imagenes {
  padding: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 87vh;
}

.sec__imagenes .sec__izq {
  width: 100%;
}

.sec__imagenes .sec__izq img {
  width: 90%;
  height: 100%;
}

.sec__imagenes .sec__der {
  width: 90%;
  padding-left: 8rem;
}

.sec__imagenes .sec__der img {
  width: 100%;
  height: 100%;
}

/* ------------ sección de recuadros de información ------------- */
.info {
  background-color: darkslatebue;
  margin-top: 7rem;
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 6%;
}

.info :hover {
  background-color: rgba(198, 198, 198, 0.249);
}

.pedido {
  border-style: ridge;
  border-color: #8a8686;
  width: 50rem;
  height: 12rem;
}

.pedido :hover {
  background-color: transparent;
}

.pedido__texto {
  position: relative;
  top: 2rem;
  left: 1.2rem;
}

.pedido__icono {
  position: relative;
  top: .8rem;
  left: 1rem;
}

.contacto {
  border-style: ridge;
  border-color: #8a8686;
  width: 50rem;
  height: 12rem;
}

.contacto :hover {
  background-color: transparent;
}

.contacto__texto {
  position: relative;
  top: 2rem;
  left: 1.2rem;
}

.contacto__icono {
  position: relative;
  top: .8rem;
  left: 1rem;
}

.final {
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 45vh;
  padding: 2.5rem;
  margin-top: 7rem;
}

.final p {
  font-size: 1.8rem;
  color: #e8e4e4;
}

.final span {
  font-size: 1.7rem;
  color: #e8e4e4;
}

.iconos {
  width: 4.5rem;
  margin-top: 2rem;
}

#mapa__tienda {
  margin-top: 1.5rem;
  width: 23rem;
  height: 14rem;
}

/*    sección bolsas*/
.frase__categoria {
  margin-top: 24rem;
  text-align: center;
}

.frase__categoria__p {
  width: 50%;
  font-size: 1.2rem;
  text-align: center;
  margin-left: 25%;
  margin-top: 1rem;
}

.grid__productos {
  background-color: rgba(218, 218, 218, 0.242);
  margin-top: 7rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10rem;
  padding-left: 6%;
  padding-bottom: 1%;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.grid__productos .grid__imagen {
  margin-top: 3rem;
}

/* ------------------------------ Recomendaciones ---------------------------*/
.reco__h4 {
  margin-top: 8rem;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .carousel-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .carousel-item {
    margin-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    display: inline-block;
  }
}

.card {
  margin: 5rem;
  border: none;
}

.corousel__h {
  height: 25vh;
}

.carousel-control-prev, .carousel-control-next {
  background-color: #8a8686;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
}

.suscribir__boton:hover {
  opacity: .7;
}

/* ------------------------------ Página envíos ----------------------------------------- */
#envios__h4 {
  margin-top: 8rem;
  margin-bottom: 4rem;
  padding-left: 3%;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
}

/* ------------------------------- Página contacto -------------------------------------- */
.contacto__ayuda {
  margin-top: 8rem;
  padding-left: 3%;
}

.contacto__info {
  margin-top: 5rem;
  padding: 1rem;
}

.gap__container {
  gap: 5rem;
}

.bgc__container {
  background-color: rgba(238, 238, 238, 0.324);
}

#contacto__form {
  margin-top: 6rem;
  padding-left: 3%;
  padding-right: 3%;
}

.table {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.txt__label {
  font-size: 1.4rem;
}

/*  -------------------------------  Media Queries 1024 -----------------------------------  */
@media screen and (max-width: 1024px) {
  .titulo__derecha {
    font-size: 4.7rem;
  }
  .texto__derecha {
    font-size: 2rem;
    padding-left: 5rem;
  }
  .boton__derecha {
    height: 3rem;
  }
  .bolsa__relative {
    padding-left: 1rem;
  }
  .imagen__joyeria__acomodo {
    padding-left: 5rem;
  }
  /*  ----- hero-dos, seccion hombre index ----- */
  .titulo__izquierda {
    font-size: 4.2rem;
  }
  .texto__izquierda {
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.8rem;
  }
  .boton__izquierda {
    margin-left: 33%;
  }
  .heroimagen__derecha img {
    width: 100%;
    margin-left: 1rem;
    margin-top: 3rem;
  }
  /*  --------- seccion mujer index --------- */
  .mujer__derecha {
    width: 120%;
  }
  .mujer .titulo__derecha {
    padding: 0;
  }
  .mujer p {
    padding-left: 0rem;
    padding-right: 2rem;
  }
  .mujer .boton__derecha {
    margin-left: 17.5rem;
  }
  /* --------- seccion info ------- */
  .info {
    padding: 2rem;
    gap: 1rem;
  }
  .info p {
    font-size: 1.4rem;
  }
  .pedido {
    height: 11rem;
  }
  .contacto {
    height: 11rem;
  }
  /* ------------- parte final de index ----------------- */
  .final p {
    font-size: 1.7rem;
  }
  /* ------------ pagina mujer y hombre ----------------- */
  .hero__section2 {
    margin-top: 17rem;
  }
  .hero__section2 .titulo__derecha2 {
    font-size: 4.2rem;
  }
  .hero__section2 .texto__derecha2 {
    font-size: 2rem;
  }
  .hero__section2 .boton__derecha2 {
    width: 8rem;
    margin-left: 46%;
    font-size: 1.4rem;
    height: 4rem;
    border-style: solid;
    border-color: black;
    border-width: 1.1px;
    border-radius: .4rem;
    background-color: transparent;
  }
  .titulo__izquierda2 {
    text-align: center;
    width: 70%;
    padding: 5rem;
  }
  .titulo__izquierda2 h2 {
    font-size: 4.4rem;
  }
  .heroimagen__derecha2 img {
    width: 100%;
    height: 65vh;
  }
  .sec__imagenes {
    padding-top: 4rem;
    height: 77vh;
  }
  .sec__imagenes .sec__der {
    width: 95%;
    padding-left: 3.6rem;
  }
}

/*  -------------------------------  Media Queries 768 -----------------------------------  */
@media screen and (max-width: 768px) {
  .organizacion {
    font-size: 1.8rem;
  }
  .hero__section {
    padding: 5rem;
  }
  .hero__section .heroimagen__izquierda {
    padding-left: 0;
  }
  .hero__section .heroimagen__izquierda img {
    height: 63vh;
    width: 110%;
  }
  .titulo__derecha {
    font-size: 4rem;
    padding-left: 5rem;
  }
  .texto__derecha {
    font-size: 2rem;
    padding-left: 3rem;
  }
  .boton__derecha {
    height: 3rem;
    margin-left: 14rem;
  }
  /*  ----- hero-dos, seccion hombre index ----- */
  .hero__dos {
    padding: 5rem;
  }
  .titulo__izquierda {
    font-size: 3.8rem;
  }
  .texto__izquierda {
    font-size: 2rem;
    text-align: start;
  }
  .boton__izquierda {
    margin-left: 24%;
  }
  .heroimagen__derecha img {
    margin-left: 1rem;
    width: 100%;
  }
  /*  --------- seccion mujer index --------- */
  .mujer {
    padding: 5rem;
  }
  .mujer .titulo__derecha {
    width: 103%;
    font-size: 3.8rem;
    padding-left: 2rem;
  }
  .mujer .texto__derecha {
    padding-left: 0;
    margin-left: 5rem;
  }
  .mujer .boton__derecha {
    margin-left: 16rem;
  }
  .mujer .heroimagen__izquierda {
    width: 100%;
  }
  .mujer .heroimagen__izquierda img {
    width: 103%;
    height: 65vh;
  }
  /* --------- seccion info ------- */
  .info {
    padding: 2rem;
    gap: 1rem;
  }
  .info p {
    font-size: 1.4rem;
  }
  .pedido {
    height: 11rem;
  }
  .contacto {
    height: 11rem;
  }
  /* ------------- parte final de index ----------------- */
  .final p {
    font-size: 1.7rem;
  }
  /* ------------ pagina mujer y hombre ----------------- */
  .hero__section2 {
    padding: 5rem;
    margin-top: 18rem;
  }
  .hero__section2 .titulo__derecha2 {
    font-size: 3.6rem;
  }
  .hero__section2 .texto__derecha2 {
    font-size: 1.9rem;
    padding-top: 2rem;
  }
  .hero__section2 .boton__derecha2 {
    width: 8rem;
    margin-left: 45%;
    font-size: 1.4rem;
    height: 4rem;
    border-style: solid;
    border-color: black;
    border-width: 1.1px;
    border-radius: .4rem;
    background-color: transparent;
  }
  .hero__section2 .heroimagen__izquierda2 {
    padding-left: 0;
    width: 50%;
  }
  .hero__section2 .heroimagen__izquierda2 img {
    width: 100%;
    height: 55vh;
  }
  .hero__dos2 {
    padding: 5rem;
  }
  .hero__dos2 .titulo__izquierda2 {
    text-align: center;
    width: 70%;
    padding: 1rem;
  }
  .hero__dos2 .titulo__izquierda2 h2 {
    font-size: 3.9rem;
  }
  .hero__dos2 .heroimagen__derecha2 img {
    width: 100%;
    height: 55vh;
    padding-left: 4rem;
  }
  .sec__imagenes {
    height: 60vh;
    padding: 5rem;
  }
  .sec__imagenes .sec__izq {
    width: 110%;
  }
  .sec__imagenes .sec__der {
    width: 100%;
    padding-left: 3.6rem;
  }
}

/*  -------------------------------  Media Queries 425 ------------------------------------ */
@media screen and (max-width: 425px) {
  .header {
    width: 100%;
  }
  .header h1 {
    font-size: 3.3rem;
  }
  .organizacion {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    padding-left: 0;
  }
  .submenu {
    padding-top: 1rem;
    padding-right: 5rem;
    padding-left: 1.8rem;
    margin-right: 0;
    gap: 2rem;
  }
  .hero__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem;
    margin-top: 12rem;
  }
  .hero__section .heroimagen__izquierda img {
    width: 100%;
    height: 50vh;
    padding-left: 1rem;
    margin-top: 3rem;
  }
  .hero__section .titulo__derecha {
    font-size: 3.3rem;
    padding-left: 1rem;
  }
  .hero__section .texto__derecha {
    font-size: 1.5rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    margin-left: 1rem;
  }
  .hero__section .boton__derecha {
    width: 6rem;
    height: 3rem;
    font-size: 1.2rem;
    margin-left: 15.5rem;
  }
  /*  ----- hero-dos, seccion hombre index ----- */
  .hero__dos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem;
  }
  .hero__dos .hombre__derecha__texto {
    width: 95%;
  }
  .hero__dos .hombre__derecha__texto .titulo__izquierda {
    font-size: 3rem;
    text-align: center;
  }
  .hero__dos .hombre__derecha__texto .texto__izquierda {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .hero__dos .hombre__derecha__texto .boton__izquierda {
    font-size: 1.1rem;
    width: 7rem;
    height: 2.7rem;
    margin-left: 39%;
  }
  .hero__dos .heroimagen__derecha {
    width: 100%;
  }
  .hero__dos .heroimagen__derecha img {
    width: 96%;
    height: 50vh;
    margin-left: 1rem;
  }
  /*  --------- seccion mujer index --------- */
  .mujer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 3rem;
  }
  .mujer .mujer__derecha h2 {
    font-size: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .mujer .mujer__derecha p {
    font-size: 1.5rem;
    text-align: center;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .mujer .heroimagen__izquierda {
    margin-top: 3rem;
  }
  .mujer .heroimagen__izquierda img {
    height: 50vh;
  }
  /* --------- seccion info ------- */
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 0;
    gap: 4rem;
  }
  .pedido {
    width: 95%;
    height: 10.9rem;
  }
  .pedido__texto {
    left: 1rem;
  }
  .info p {
    font-size: 1.3rem;
  }
  .contacto {
    width: 95%;
    height: 10.5rem;
  }
  .contacto__texto {
    left: 1rem;
  }
  /* ------------- parte final de index ----------------- */
  .final {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 1.5rem;
    margin-top: 6rem;
    gap: 3.6rem;
  }
  .final p {
    font-size: 1.6rem;
  }
  .final span {
    font-size: 1.2rem;
  }
  #mapa__tienda {
    width: 16rem;
    height: 9rem;
  }
  footer {
    font-size: 1.4rem;
    padding-top: 2rem;
  }
  .grid__texto p {
    font-size: 1.3rem;
  }
  .carousel-item {
    padding-left: 2rem;
  }
  /* ------------ pagina mujer y hombre ----------------- */
  .hero__section2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem;
    margin-top: 15rem;
  }
  .hero__section2 .hero__rebaja {
    width: 88%;
  }
  .hero__section2 .hero__rebaja .titulo__derecha2 {
    font-size: 2.5rem;
    padding-left: 0;
  }
  .hero__section2 .hero__rebaja .texto__derecha2 {
    font-size: 1.7rem;
    margin-left: 0;
    margin-bottom: 0;
  }
  .hero__section2 .hero__rebaja .boton__derecha2 {
    width: 7rem;
    margin-left: 42%;
    font-size: 1.4rem;
    height: 4rem;
    border-style: solid;
    border-color: black;
    border-width: 1.1px;
    border-radius: .4rem;
    background-color: transparent;
    height: 2.7rem;
    margin-bottom: 2rem;
  }
  .hero__section2 .heroimagen__izquierda2 {
    width: 100%;
  }
  .hero__section2 .heroimagen__izquierda2 img {
    width: 100%;
    height: 50vh;
  }
  .hero__dos2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem;
  }
  .hero__dos2 .titulo__izquierda2 {
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 3rem;
  }
  .hero__dos2 .titulo__izquierda2 h2 {
    font-size: 2.5rem;
  }
  .hero__dos2 .heroimagen__derecha2 {
    width: 100%;
  }
  .hero__dos2 .heroimagen__derecha2 img {
    width: 100%;
    height: 50vh;
    padding-left: 0;
  }
  .sec__imagenes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 3rem;
    gap: 3rem;
  }
  .sec__imagenes .sec__izq {
    width: 100%;
    height: 45vh;
  }
  .sec__imagenes .sec__izq img {
    width: 100%;
  }
  .sec__imagenes .sec__der {
    width: 100%;
    padding-left: 0;
    height: 45vh;
  }
}

/*  -------------------------------  Media Queries 375 -----------------------------------  */
@media screen and (max-width: 375px) {
  .submenu {
    margin-right: 0;
  }
  .hero__section {
    padding: 2rem;
  }
  .hero__section .boton__derecha {
    margin-left: 14.2rem;
  }
  .hero__dos {
    padding: 2rem;
  }
  /*  --------- seccion mujer index --------- */
  .mujer .boton__derecha {
    margin-left: 13.5rem;
    font-size: 1.1rem;
    width: 6rem;
    height: 2.5rem;
  }
  .frase__categoria h3 {
    font-size: 2.5rem;
    padding: 1rem;
  }
  .frase__categoria h3 p {
    margin-left: 8rem;
  }
  /* --------- seccion info ------- */
  .info {
    margin-top: 1rem;
    gap: 4rem;
  }
  /* ------------- parte final de index ----------------- */
  footer {
    font-size: 1.2rem;
    padding-top: 2rem;
  }
  .grid__texto p {
    font-size: 1.3rem;
  }
  .carousel-item {
    padding-left: 2rem;
  }
  /* ------------ pagina mujer y hombre ----------------- */
  .hero__section2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem;
    margin-top: 15rem;
  }
  .hero__section2 .hero__rebaja {
    width: 88%;
  }
  .hero__section2 .hero__rebaja .titulo__derecha2 {
    font-size: 2.5rem;
    padding-left: 0;
  }
  .hero__section2 .hero__rebaja .texto__derecha2 {
    font-size: 1.7rem;
    margin-left: 0;
    margin-bottom: 0;
  }
  .hero__section2 .hero__rebaja .boton__derecha2 {
    width: 7rem;
    margin-left: 40%;
    font-size: 1.1rem;
    height: 4rem;
    border-style: solid;
    border-color: black;
    border-width: 1.1px;
    border-radius: .4rem;
    background-color: transparent;
    height: 2.6rem;
    margin-bottom: 2rem;
  }
  .hero__section2 .heroimagen__izquierda2 {
    width: 100%;
  }
  .hero__section2 .heroimagen__izquierda2 img {
    width: 100%;
    height: 50vh;
  }
  .hero__dos2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem;
  }
  .hero__dos2 .titulo__izquierda2 {
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 3rem;
  }
  .hero__dos2 .titulo__izquierda2 h2 {
    font-size: 2.5rem;
  }
  .hero__dos2 .heroimagen__derecha2 {
    width: 100%;
  }
  .hero__dos2 .heroimagen__derecha2 img {
    width: 100%;
    height: 50vh;
    padding-left: 0;
  }
  .sec__imagenes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 3rem;
    gap: 3rem;
  }
  .sec__imagenes .sec__izq {
    width: 100%;
    height: 45vh;
  }
  .sec__imagenes .sec__izq img {
    width: 100%;
  }
  .sec__imagenes .sec__der {
    width: 100%;
    padding-left: 0;
    height: 45vh;
  }
}

/*  -------------------------------  Media Queries 320 ----------------------------------  */
@media screen and (max-width: 320px) {
  .hero__section .boton__derecha {
    margin-left: 12rem;
  }
  .hero__dos .hombre__derecha__texto .boton__izquierda {
    margin-left: 37%;
  }
  .mujer {
    padding: 3rem;
  }
  .hero__section2 .hero__rebaja {
    width: 100%;
    margin-top: 3rem;
  }
  .hero__section2 .hero__rebaja .texto__derecha2 {
    padding: 1rem;
  }
  .hero__section2 .hero__rebaja .boton__derecha2 {
    margin-left: 10rem;
  }
  .frase__categoria {
    margin-top: 18rem;
    margin-bottom: 0;
  }
  /* ------------- parte final de index ----------------- */
  footer {
    font-size: 1rem;
    padding-top: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */