@import "./parciales/0variables";
@import "./parciales/1general";
@import "./parciales/2organizacion";
@import "./parciales/3hero";
@import "./parciales/4info";
@import "./parciales/5final";
@import "./parciales/6mujer";
@import "./parciales/7recomendaciones";
@import "./parciales/8envio-y-contacto";
@import "./parciales/9mediaqueries";